body {
	text-align: center;
	background-color: #88b9a25c;
	width: auto;
	margin: 0 auto;
	font-family: Open Sans,One Open Sans,Helvetica Neue,Helvetica,sans-serif;
}
/*Header*/
.header{
	position: fixed;
	background-color: #F4FEFE;
	max-width: 1700px;
	margin: 0 auto;
	display: flex;
	width: 100%;
	height: 100px;
	padding: 0 5.9%;
}
.header-front{
	height: 170px !important;
	padding: 0 5.9%;
}
.headermenu{
	height:inherit;
	float:right;
	margin: 20px 1% 0 auto;
	font-size: 22px;
	display:flex;
	height:inherit;
}
.headerright{
	width:inherit;
}
.headermenu-item {
	border: none;
	padding: 8px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	font-size: 20px;
	cursor: pointer;
	background:inherit;
	color: darkslategray;
}
.headermenu-item:focus {
	outline:none;
	color: darkslategray;
}
.logo {
	height: 70px;
	padding: 15px 25px;
	float:left;
}
.logo-front{
	height: 140px;
	padding: 15px 25px;
	float:left;
}
.logo-text{
	font-family: Lora-italic;
	font-size: 34px;
	font-weight: 500;
	font-style: italic;
	text-decoration: none;
	text-shadow: none;
	color: #838b94;
	text-align: left;
	padding: 30px 0 0 0;
	display: flex;
	margin: 0 0 0 0;
	white-space: nowrap;
}

.divider{
		display: flex;
    font-size: 26px;
    padding: 0px 0px;
    height: 39px;
    text-align: center;
    position: relative;
		align-self: center;
	}
.dropdown {
    position: relative;
    display: inline-block;
		text-align: center;
		width: auto;
		margin:0 5;
		min-width: 100px;
		align-self: center;
		min-height: 50px
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f0f8ff;
	box-shadow: 0px 6px 7.5px -8px black;
	padding: 8px 0px;
	z-index: 2;
	border:5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius:0px 0px 7px 7px;
	top:27px;
	width: 150%;
	margin-left: -27.5%;
}
.dropdowncard{
	width: 325%;
}
.dropdown-content a{
	padding: 10px 0px 10px 0px;
	font-size:17px;
	text-decoration: none;
	cursor:pointer;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown:hover a{
	display:block;
	width:auto;
}

.dropdowninfo{
	display:block;
	position: relative;
	display: inline-block;
width:120;
text-align: center;
}
.dropdowninfo-content{
	display: block;
	position: absolute;
	background-color: #f0f8ff;
	box-shadow: 0px 6px 7.5px -8px black;
	padding: 8px 0px;
	z-index: 1;
	border:5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius:0px 0px 7px 7px;
	top:27px;
	width: 184px;
}
/*Body*/
#b0dy{
	text-align: left;
	max-width: 1600px;
	width: inherit;
	margin: 0 auto;
}
.banner{
	min-width: inherit;
width: 100%;
margin: 0 auto;
height: 70%;
display: flex;
background: url(../../Pics/banner.jpg);
background-position-y: 5pc;
background-size: 120%;
background-position-x: 55%;
background-repeat: no-repeat;
overflow: hidden;
}
.banner-front{
	min-width: inherit;
width: 100%;
margin: 0 auto;
height: 100%;
display: flex;
background: url(../../Pics/banner.jpg);
background-position-y: 8pc;
background-size: 120%;
background-position-x: 55%;
background-repeat: no-repeat;
overflow: hidden;
}
#main{
	margin-right: 5%;
}
a{
	text-decoration: none;
	color:#396dbd;
}
a:visited{
	text-decoration: none;
	color:#396dbd;
}
a:hover{
	text-decoration:none;
	color:#4885e2;
}
/*Widgets*/
.certificates-front{
	max-height:60px;
	height:100%;
	float:right;
	margin: 3% 2% 0 0;
	width:85%;
}
.certificates{
	max-height: 60px;
height: 30%;
float: right;
margin: 0.5% 2% 0.5% 0;
width: 85%;
}

.oneby1-front {
    height: 60px;
    max-width: 100%px;
    display: flex;
    float: right;
		padding-left: 1%;
	}
	.oneby1{
		height: 40px;
max-width: 100%;
display: flex;
float: right;
padding-left: 1%;
}
	}
/*Items*/
.contact{
	text-align: left;
}
.main {
	width: 100%;
	min-height: 60%;
	border: 1px transparent solid;
	background-color: #F4FEFE;
	padding: 1% 1%;
	border-radius: 8px 8px 8px 8px;
	display: block;
	position: absolute;
	max-width: 1600px;
	box-shadow: 0px 7px 20px -4px black;
	top: 65%;
}
.btn {
	border: none;
	border-radius: 7px;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background:#f0f8ff;
	color: darkslategray;
}
.kontaktbtn {
	top:0px;
}
.breadcrums{
	font-size: 14px;
    margin: 5px;
}
.pricecard tr td:first-child{
	width:60%;
}
.pricecard tr td:last-child{
	width:30%;
}
.pricecard tr td h4{
	text-align: left;
	margin: 5% 5%;
	color: darkslategray;
	font-size: 20px;
}
h1 {
	margin: 10px 0px 10px 0px;
}
h5 {
	font-size: 14px;
	margin:0px;
	font-weight: normal;
	width: auto;
	margin:auto;
}
.radio{
	display:inline-block;
}
