body {
	text-align: center;
	background-color: #F4FEFE;
	width: auto;
	margin: 0 auto;

}
/*Header*/
.header{
	max-width: 1700px;
	margin: 0 auto;
	display:flex;
}
.headermenu{
	height:inherit;
	float:right;
	margin: auto 1% auto auto;
	font-size: 20px;
	display:flex;
	height:inherit;
}
.headermenu-item {
	border: none;
	padding: 8px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight:600;
	font-size: 20px;
	cursor: pointer;
	background:inherit;
	color: darkslategray;
}
.headermenu-item:focus {
	outline:none;
	color: darkslategray;
}
.logo {
	height: 140px;
	padding: 15px 25px;
	float:left;
}
.logo-text{
font-family: Open Sans,One Open Sans,Helvetica Neue,Helvetica,sans-serif;
font-size: 30px;
font-weight: 700;
font-style: normal;
text-decoration: none;
text-shadow: none;
color: #838b94;
text-align: left;
padding: 60px 0;
display:flex;
}
.divider{
		display: flex;
    font-size: 26px;
    padding: 0px 0px;
    height: 39px;
    text-align: center;
    position: relative;
		align-self: center;
	}
.dropdown {
    position: relative;
    display: inline-block;
		text-align: center;
		width: auto;
		margin:0 5;
		min-width: 100px;
		align-self: center;
		min-height: 50px
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f0f8ff;
	box-shadow: 0px 6px 7.5px -8px black;
	padding: 8px 0px;
	z-index: 2;
	border:5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius:0px 0px 7px 7px;
	top:27px;
	width:100%;
	max-width:inherit;
}
.dropdown-content a{
	padding: 5px 0px 5px 0px;
	font-size:14px;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown:hover a{
	display:block;
	width:auto;
}

.dropdowninfo{
	display:block;
	position: relative;
	display: inline-block;
width:120;
text-align: center;
}
.dropdowninfo-content{
	display: block;
	position: absolute;
	background-color: #f0f8ff;
	box-shadow: 0px 6px 7.5px -8px black;
	padding: 8px 0px;
	z-index: 1;
	border:5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius:0px 0px 7px 7px;
	top:27px;
	width: 184px;
}
/*Body*/
#b0dy{
	text-align: left;
	max-width: 910px;
	width:100%;
	margin: 0 auto;
}
.banner{
	min-width:inherit;
	width: 100%;
	margin: 0 auto;
	height: 650px;
	display: flex;
	background: url('../../Pics/banner.jpg');
	background-position-y: -5pc;
	background-size: 120%;
	background-position-x: 55%;
	background-repeat: no-repeat;
}
#main{
	margin-right: 5%;
}

/*Items*/
.contact{
	text-align: left;
}
.main {
	width: 100%;
	min-height: 60%;

}
.btn {
	border: none;
	border-radius: 7px;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background:#f0f8ff;
	color: darkslategray;
}
.kontaktbtn {
	top:0px;
}
.breadcrums{
	font-size: 14px;
    margin: 5px;
}

h1 {
	margin: 10px 0px 10px 0px;
}
h5 {
	font-size: 14px;
	margin:0px;
	font-weight: normal;
	width: auto;
	margin:auto;
}
.radio{
	display:inline-block;
}
